---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<section class="flex flex-col mx-auto max-w-2xl items-center">
		<p class="text-3xl font-bold underline">
			About
		</p>
		<p>Eich was born on the 4th of July in Pittsburgh. He studied Mathematics and Coputer Science, where he got his Bachelor's degree at Santa Clara University, and got his Master's degree from the University of Illinois.</br>
		He began working for Silicon Graphics, where he worked on operating systems and network code for seven years.</p>
	</section>
</Layout>