---

---

<header class="flex justify-between py-5 px-10 bg-slate-800 items-center">
    <section class="left flex align-middle gap-10 items-center">
        <figure class="rounded-full flex items-center justify-center">
            <img src="/assets/avatar.webp" alt="Avatar">
        </figure>
        <p class="text-2xl"><strong>Brendan Eich</strong></p>
    </section>
    <section class="center">
        Center
    </section>
    <section class="right">
        <nav>
            <ul class="flex gap-10">
                <li><a href="#">Home</a></li>
                <li><a href="#">Contributions</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </section>
</header>
<style>
    header section figure {
        width: 50px;
        height: 50px;
        overflow: hidden;
    }
</style>