---


function calculateAge(birthday) { // birthday is a date
   const ageDifMs = Date.now() - birthday;
   const ageDate = new Date(ageDifMs); // miliseconds from epoch
   return Math.abs(ageDate.getUTCFullYear() - 1970);
}
---

<header class="flex flex-col lg:flex-row justify-between py-5 px-10 bg-slate-800 items-center">
    <section class="left relative flex align-middle gap-10 items-center">
        <figure class="rounded-full flex items-center justify-center overflow-hidden">
            <img src="/assets/avatar.webp" alt="Avatar">
        </figure>
        <p class="text-2xl"><strong>Brendan Eich</strong></p>
        <div class="dropdown absolute left-0 p-5 rounded-lg bg-slate-500">
            <p>Age: {calculateAge(new Date('4 July 1961'))}</p>
        </div>
    </section>
    <section class="center hidden lg:block">
        <p id="quote"></p>
    </section>
    <section class="right">
        <nav>
            <ul class="flex gap-10">
                <li><a href="/">Home</a></li>
                <li><a href="/contributions">Contributions</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </section>
</header>
<style>
    header section figure {
        width: 50px;
        height: 50px;
    }

    header section .dropdown {
        display: none;
        top: calc(100% + 10px);
        background-color: black;
    }

    header section figure:hover ~ .dropdown {
        display: flex;
    }
</style>
<script>
    const quotes = ["Javascript would either die quickly or be around for at least 20 years.", "The Brave idea is to have a frictionless Bitcoin."];
    document.querySelector('#quote').innerText = `"${quotes[Math.floor(Math.random() * quotes.length)]}"`
</script>